name: tasker
services:
  auth-api:
    build:
      context: ../../
      dockerfile: src/services/Auth/Tasker.Auth.Api/Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5001:8080"
    networks: [appnet]
  boardread-api:
    build:
      context: ../../
      dockerfile: src/services/BoardRead/Tasker.BoardRead.Api/Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5002:8080"
    networks: [appnet]
  boardwrite-api:
    build:
      context: ../../
      dockerfile: src/services/BoardWrite/Tasker.BoardWrite.Api/Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5003:8080"
    networks: [appnet]
  projector-api:
    build:
      context: ../../
      dockerfile: src/services/Projector/Tasker.Projector.Api/Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5004:8080"
    networks: [appnet]
  outbox-api:
    build:
      context: ../../
      dockerfile: src/services/Outbox/Tasker.Outbox.Api/Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5005:8080"
    networks: [appnet]
  
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks: [appnet]
    depends_on: 
      - auth-api
      - boardread-api
      - boardwrite-api
      - projector-api
      - outbox-api
  
  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false
    ports: 
    - "3000:3000"
    networks: [appnet]
    depends_on:
      - prometheus

networks:
  appnet: {}